/* main styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-image: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    padding: 0;
    margin: 3%;
}

main {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 0x;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: 700;
    margin: 10px 0;
    padding-right: 50px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    line-height: 29px;
    margin: 10px 0;
}

header {
    margin: 0px;
    padding-left: 50px;
}

div {
    padding-top: 90px;
    padding-left: 50px;
}

.logo {
    width: 11rem;
}

.mockup {
    padding-top: 50px;
    float: left;
}

button {
    margin-top: 20px;
    border-radius: 35px;
    height: 50px;
    width: 190px;
    font-size: 18px;
    color: hsl(257, 40%, 49%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

button:hover {
    cursor: pointer;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.social-media img {
    width: 44px;
    height: 45px;
    padding: 5px;
    color: #FFFFFF;
}

.social-media img:hover {
    cursor: pointer;
}

.attribution {
    font-size: 15px; text-align: center; 
    /* margin-bottom: 15px; */
}

/* media styles */
@media(max-width: 500px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-color: hsl(257, 40%, 49%);
    }
}